@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Employee_Management_System.Presentations.ViewModels
@model List<EmployeeViewModel>

@{
    if(Model.Count == 0){
        <h4>社員が登録されていません</h4>
        <a asp-area="" asp-controller="Employee" asp-action="EmployeeRegister">社員を登録する</a>
    }
    else{
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="mb-0">社員一覧</h4>
            <a asp-area="" asp-controller="Employee" asp-action="EmployeeRegister" class="btn btn-primary">
                新規登録
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>社員番号</th>
                    <th>社員名</th>
                    <th>生年月日</th>
                    <th>メールアドレス</th>
                    <th>所属部署</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach(EmployeeViewModel vm in Model){
                        <tr>
                            <td id="employeeNo-@(i)">@vm.EmpNo</td>
                            <td id="employeeName-@(i)">@vm.EmpName</td>
                            <td id="birthday-@(i)">@vm.Birthday</td>
                            <td id="mailAddress">@vm.MailAddress</td>
                            <td id="departmentNo-@(i)">
                                @{
                                    if(vm.Dept == null){
                                        <span>無所属</span>
                                    }
                                    else{
                                        @vm.Dept.DeptName
                                    }
                                }
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a asp-area="" asp-controller="Employee" asp-action="EmployeeUpdate" asp-route-number="@vm.EmpNo" class="text-decoration-none"><span class="me-2">[変更]</span></a>
                                    <button class="manipulation-button delete-button" id="delete-@(vm.EmpNo)" onclick="deleteData(this)"><span id="link-color">[削除]</span></button>
                                </div>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
        <div class="modal" id="my-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">社員削除</h5>
                        <button type="button" class="btn-close modal-cancel-btn" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>本当に削除してもいいですか？</p>
                    </div>
                    <div class="modal-footer">
                        <form asp-area="" asp-controller="Employee" asp-action="EmployeeList" method="post">
                            <button type="submit" class="btn btn-primary modal-cancel-btn">削除</button>
                            <button type="button" class="btn btn-secondary modal-cancel-btn" data-bs-dismiss="modal">キャンセル</button>
                            <input name="empNo" type="hidden" id="hidden-input-for-sending-id" readonly> @*削除対象を指定するための隠しinput*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts{
    <script src="/js/DeleteControll.js" asp-append-version="true"></script>
}